:host {
    display: inline-block;
    color: var(--vbx-main-color);
    max-width: 100%;
}

div.vbx-button__trigger {
    cursor: pointer;

    &:focus, &:hover, &:active {
        color: var(--vbx-main-color-hover);

        ::slotted(*) {
            --vbx-trigger-color: var(--vbx-overlay-color-hover);
            --vbx-trigger-background: var(--vbx-overlay-background);
        }
    }
}
