html {
    --vbx-background-color: #000000;
    --vbx-shadow-color: #000000;
    --vbx-font-size: 16px;
    --vbx-opacity: 0.7;
    --vbx-opacity-light: 0.5;
    --vbx-overlay-background: rgba(0, 0, 0, var(--vbx-opacity, 0.7));
    --vbx-overlay-background-light: rgba(0, 0, 0, var(--vbx-opacity-light, 0.5));

    /* Content without background */
    --vbx-main-color: #005723;
    --vbx-main-color-hover: #50bf82;

    /* Content with background */
    --vbx-invert-color: #ffffff;
    --vbx-invert-color-hover: var(--vbx-main-color-hover);

    /* Content with overlay */
    --vbx-overlay-color: var(--vbx-invert-color);
    --vbx-overlay-color-hover: var(--vbx-invert-color-hover);

    /* Pagination content */
    --vbx-pagination-color: var(--vbx-main-color);
    --vbx-pagination-color-hover: var(--vbx-main-color);
    --vbx-pagination-color-active: var(--vbx-main-color);
    --vbx-pagination-background: rgba(0, 0, 0, 0);
    --vbx-pagination-background-hover: var(--vbx-main-color-hover);
    --vbx-pagination-background-active: var(--vbx-main-color-hover);
}

vbx-slider vbx-button,
vbx-pagination vbx-button {
    flex: auto 0 0;
    margin: 12px !important;
    max-width: calc(100% - 24px) !important;
}

vbx-button img,
vbx-trigger img {
    flex: auto 0 0;
}
